      <p class="text-center">
        <small>All <a href="https://github.com/bendiken/ar.to"
        target="_blank"
        title="source code repository for ar.to">materials</a>
        on this website are released into the
        <a href="http://creativecommons.org/publicdomain/zero/1.0/"
        target="_blank">public domain</a>.</small>
      </p>
