{{ $is_list := .is_list }}
{{ $share := .share | default false }}
{{ $page := .page }}

<meta content="{{ $page.Params.Date }}" itemprop="datePublished">
<meta content="{{ $page.Params.LastMod }}" itemprop="dateModified">

<div class="article-metadata">

  {{/* If `authors` is set and is not empty. */}}
  {{ if $page.Params.authors }}
  {{ $authorLen := len $page.Params.authors }}
  {{ if and (gt $authorLen 0) (not $is_list) }}
  <div>
    {{ partial "page_metadata_authors" $page }}
  </div>
  {{ end }}
  {{ end }}

  {{ if not (in (slice "talk" "page") $page.Type) }}
  <span class="article-date">
    {{ $date := $page.Lastmod.Format site.Params.date_format }}
    {{ if eq $page.Type "publication" }}
      {{ $date = $page.Date.Format (site.Params.publications.date_format | default "January, 2006") }}
    {{ else }}
      {{ if ne $page.Params.Lastmod $page.Params.Date }}
          {{ i18n "last_updated" }}
      {{ end }}
    {{ end }}
    <time>{{ $date }}</time>
  </span>
  {{ end }}

  {{ if and (eq $is_list 1) (eq $page.Type "publication") }}
  <span class="middot-divider"></span>
  <span class="pub-publication">
    {{ if $page.Params.publication_short }}
      {{ $page.Params.publication_short | markdownify }}
    {{ else if $page.Params.publication }}
      {{ $page.Params.publication | markdownify }}
    {{ end }}
  </span>
  {{ end }}

  {{ if and (eq $page.Type "essay") (not (or (eq site.Params.reading_time false) (eq $page.Params.reading_time false))) }}
  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ $page.ReadingTime }} {{ i18n "minute_read" }}
  </span>
  {{ end }}

  {{ $taxonomy := "categories" }}
  {{ with $page.Param $taxonomy }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder mr-1"></i>
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
      <a href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{- end -}}
  </span>
  {{ end }}

  {{ if $share }}
    {{ partial "share.html" $page }}
  {{ end }}

</div>
